/* External CSS */
html{
    font-size: 20px;
}
body{
    background-color: #edea87;
    /* font-size: 10px; */
}
/* p{
    background-color:burlywood;
    color: beige;
    padding: 1%;
} */

/* Color properties in CSS */
h1{
    color: skyblue;
}
h2{
    color: #32a852;
}
h3{
    color: rgb(168, 50, 50);
}

/* Font propertiesin CSS */
p{
    font-family: Snell Roundhand, cursive;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

/* px em and rem in CSS */
ul{
    font-size: 20px;
}
li{
    font-size: 1.5rem;
}

/* Line  properties in CSS */
h4{
    line-height: 10px;
    font-size: 20px;
}

/* Class in CSS */
div.box-1{
     background-color: skyblue;
}

.box-2{
    background-color: tomato;
}

/* ID in CSS */
p#first-p{
    color: violet;
}

/* BOX model in CSS 
margin
border
padding
content 
*/

.box-model{
    background-color: lightgreen;
    width: 500px;
    /* margin-bottom: 50px; */
    margin: 5px 10px 15px 20px;
    border: 10px solid lightsalmon;
    padding: 5px;
}

.box-2 h1,h2{
    background-color:orange;
}

/* Text and Spacing properties in CSS */
.box-model{
    text-decoration:underline;
    text-transform: uppercase;

    letter-spacing: 20px;
    word-spacing: 2px;
}

.categories{
    border: 1px solid sandybrown;
    border-radius: 20px;
    background-color: peru;
    padding: 10px;

}

.categories h1{
    text-align: center;
}
.categories ul{
    padding: 0px;
    list-style: none;
    
}

.categories a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    list-style: none;
}

.categories a:hover{
    color: red;
    
}

.categories li{
    padding-bottom: 6px;
    border-bottom: 2px dotted green;

}

/* Form in CSS */
.my-form{
    padding: 10px;
   
}

.my-form .form-group{
    padding-bottom: 15px;
    
}

.my-form .form-group label{
    display: block;
    font-weight: bold;
}



.my-form .form-group input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding:8px;
}

.button{
    text-align: center;
    padding:10px;
    border-radius: 10px;
    background-color: indianred;
    color: white;
}

.button:hover{
    margin: 0.2em 0;
    background-color: red;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    
}

#gender{
    font-weight: bold;

}

.radio-class {
    padding-bottom: 10px;
}

/* float in CSS */
.block{
    float: left;
    width: 33.33%;
}

.clear-fix{
    clear: both;
}

/* <!-- Two column layout using float --> */
#left-block{
    float: left;
    width: 70%;
    height: 200px;
    border: 1px solid tomato; 
     padding: 15px; 
     box-sizing: border-box;
}

#right-block{
    float: right;
    width: 30%;
    height: 200px;
     border: 1px solid tomato;
    padding: 15px; 
    box-sizing: border-box;
}

/* POsitioning in CSS */
.positioning{
    border: 1px solid tomato;
    width: 70%;
    height: 500px;
    position: relative;  
    /* to make parent as refrence we make this as relative because .positioning is parent of h1 and h2 tag */
    
}

/* .positioning is a parent for h1 and h2 so we make it as relative to make it as refrcne */

.positioning h1{
  position: absolute;
  top: 100px; 
    
}

.positioning h2{
    position: absolute;
    top: 50px; 
    right: 50px;
      
  }
